<div class="row">

    <div class="col-lg-12">
      <div id="add-question-warning-container" class="alert alert-warning alert-dismissible fade show" role="alert"
        style="display: none;">
        <span id="add-question-warning">Та дахин оролдоно уу</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="question-list-container" class="list-group container">
          <% if(questionsData != null){ %>
            <% for (var i = 0; i < questionsData.length; i++) { %>
              <a href="/questions/<%= questionsData[i]._id %>/<%= questionsData[i].slug %>"
                class="list-group-item list-group-item-action flex-column align-items-start">

                <div class="question-container row">

                  <div class="question-votes-container col col-lg-3 col-md-4 col-sm-12">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4"><%= questionsData[i].views %><br>views</div>
                      <div class="col-lg-4 col-md-4 col-sm-4"><%= questionsData[i].votes.length %><br>votes </div>
                      <div class="col-lg-4 col-md-4 col-sm-4"><%= questionsData[i].answers.length %><br>answers</div>
                    </div>
                  </div>
                  <div class="question-container-home col col-lg-9 col-md-8">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1"><%= questionsData[i].text %></h5>
                      <small><%= timeagoInstance.format(questionsData[i].createdDate, 'mn') %></small>
                    </div>
                    <!-- <p class="mb-1"></p> -->
                    <small id="question-date">
                      <% if(questionsData[i].user != null){ %>
                        <%= questionsData[i].user.fb.displayName %>
                      <% }else{ %>
                        anonymous
                      <% } %>
                    </small>
                  </div>
                </div>
              </a>
              <% } %>
          <% } %>
        </div>
      </div>
    </div>
</div>
