<div id="add-question-result-warning-container" class="alert <% if(result_code == 1000){ %> alert-success <% }else{ %> alert-warning <% } %> alert-dismissible fade show" role="alert">
  <span id="add-question-warning"><% if(result_code == 1000){ %>Your question is added successfully.<% }else{ %>result_msg<% } %></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<a href="/questions/<%= question._id %>/<%= question.slug %>" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1"><%= question.text %></h5>
    <small><%= timeagoInstance.format(question.createdDate, 'mn') %></small>
  </div>
  <!-- <p class="mb-1"></p> -->
  <small id="question-date">
    <% if(question.user != null){ %>
      <%= question.user.fb.displayName %>
    <% }else{ %>
      anonymous
    <% } %>
  </small>
</a>
