<!doctype html>
<html>
  <head>
    <%- include('partials/head') %>
    <!-- Custom styles  -->
    <link href="/public/css/home.css" rel="stylesheet">
  </head>

  <body>

    <%- include('partials/navbar.ejs') %>

    <main role="main" class="container">

      <div class="starter-template">
        <h1><%= __('Find the answer')%></h1>
        <form id="ask-quick-question-form">
          <div class="lead input-group">
            <input id="quick-question-input" class="form-control form-control-lg" type="text" placeholder="<%= __('Ask your question')%>" aria-label="<%= __('Ask your question')%>">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit button">
                <span id="ask-btn-text"><%= __('Ask')%></span>
                <span id="ask-btn-loader" style="display: none">
                  <div class="loader-inner line-scale">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </span>
              </button>

            </span>
          </div>
        </form>

      </div>

      <div class="row question-nav-container">
        <div class="col-lg-12">
          <input id='active-nav-type' type="hidden" value="<%= activeNav %>"/>
          <nav class="nav nav-pills nav-justified">
            <a id='nav-recent' class="nav-item nav-link" href="?nav=recent">Recent</a>
            <a id='nav-viewed' class="nav-item nav-link" href="?nav=viewed">Most viewed</a>
            <a id='nav-answered' class="nav-item nav-link" href="?nav=answered">Most answered</a>
            <a id='nav-voted' class="nav-item nav-link" href="?nav=voted">Most voted</a>
          </nav>
        </div>
      </div>

      <%- include('partials/questions-list') %>

      <div class="row load-more-container">
        <div class="col-lg-12">
          <button type="button" class="btn btn-outline-primary btn-lg btn-block"><%= __('Load more questions')%></button>
        </div>
      </div>

    </main><!-- /.container -->

    <%- include('partials/footer') %>
    <%- include('partials/embedded-scripts') %>
    <script src="/controllers/questionController.client.js"></script>
  </body>
</html>
