extends layout

block content
  //- a(href="/")
  //-     img(class='app-icon' src="/public/images/icon.png")
  form(id="venue-search-form")
      div(class="input-group")
          input(type="text" name="near-location" class="form-control" value=lastSearchTerm placeholder="${Ask a question}")
          input(type="hidden" name="shouldClearLastSearch" value=lastSearchTerm ? "true" : "false")
          span(class="input-group-btn")
              button(id="venue-search-btn" class="btn btn-success" type="submit") Ask
          
  if display_msg != null
      div(class="alert " + display_msg_type +" alert-dismissible fade show" role="alert")
        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
        #{display_msg}
  br()
  img(class='app-icon' id="loading-img" src="/public/images/loading.gif")
  div(class="places-container" id="places-container")
  //- div(class="list-group vote-list inner-container" id="vote-list-container")
  //-     each poll in pollList
  //-         a(href="/poll-detail/" + poll._id class="list-group-item list-group-item-action") #{poll.question}
  //-             span(class="poll-author-in-list") by #{poll.username}
  
  if lastSearchTerm != null
      script(type='text/javascript').
          var lastSearchTermData = !{JSON.stringify(lastSearchTerm)};
  else
      script(type='text/javascript').
          var lastSearchTermData = null;
          
block scripts
    script(src='/controllers/placeController.client.js')
