<!doctype html>
<html>
  <head>
    <%- include('partials/head') %>
    <!-- Custom styles  -->
    <link href="/public/css/home.css" rel="stylesheet">
  </head>

  <body>

    <%- include('partials/navbar.ejs') %>

    <main role="main" class="container">

      <div class="starter-template">
        <h1><%= __('Find the answer')%></h1>
        <form id="ask-quick-question-form">
          <div class="lead input-group">
            <input id="quick-question-input" class="form-control form-control-lg" type="text" placeholder="<%= __('Ask your question')%>" aria-label="<%= __('Ask your question')%>">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button"><%= __('Ask')%></button>
            </span>
          </div>
        </form>

      </div>

      <div class="row">
          <div class="col-lg-12">
            <div class="list-group">
              <% if(questionsData != null){ %>
                <% for (var i = 0; i < questionsData.length; i++) { %>
                  <a href="/questions/<%= questionsData[i]._id %>" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1"><%= questionsData[i].text %></h5>
                      <small><%= timeagoInstance.format(questionsData[i].createdDate, 'mn') %></small>
                    </div>
                    <!-- <p class="mb-1"></p> -->
                    <small id="question-date"><%= questionsData[i].userId %></small>
                  </a>
                <% } %>

              <% } %>

              </div>
          </div>
      </div>

      <div class="row load-more-container">
        <div class="col-lg-12">
          <button type="button" class="btn btn-outline-primary btn-lg btn-block"><%= __('Load more questions')%></button>
        </div>
      </div>

    </main><!-- /.container -->

    <%- include('partials/footer') %>
    <%- include('partials/embedded-scripts') %>
    <script src="/controllers/questionController.client.js"></script>
  </body>
</html>
