<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <!-- Custom styles  -->
    <link href="/public/css/home.css" rel="stylesheet">
  </head>

  <body>

    <%- include('partials/navbar.ejs') %>

    <main class="container">

      <div class="starter-template">
        <input type="hidden" id="home-page-type" value="<%= home_type %>"/>

        <% if(home_type != null && home_type == 'normal'){ %>
          <h1><%= __('Find the answer')%></h1>
          <form id="ask-quick-question-form">
            <div class="lead input-group">
              <input id="quick-question-input" class="form-control form-control-lg" type="text" placeholder="<%= __('Ask your question')%>" aria-label="<%= __('Ask your question')%>" />
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                  <span id="ask-btn-text"><%= __('Ask')%></span>
                  <div id="ask-btn-loader" style="display: none">
                    <div class="loader-inner line-scale">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                  </div>
                </button>

              </span>
            </div>
          </form>

        <% }else{ %>
          <h1>Search Result</h1>

        <% } %>

      </div>

      <% if(home_type != null && home_type == 'normal'){ %>
        <div class="row question-nav-container">
          <div class="col-lg-12">
            <input id='active-nav-type' type="hidden" value="<%= activeNav %>"/>
            <input id='skip-count' type="hidden" value="<%= skip %>"/>
            <input id='limit-count' type="hidden" value="<%= limit %>"/>
            <input id='per-page-count' type="hidden" value="<%= per_page %>"/>
            <nav class="nav nav-pills nav-fill">
              <a id='nav-recent' class="nav-item nav-link" href="?nav=recent">Recent</a>
              <a id='nav-viewed' class="nav-item nav-link" href="?nav=viewed">Most viewed</a>
              <a id='nav-answered' class="nav-item nav-link" href="?nav=answered">Most answered</a>
              <a id='nav-voted' class="nav-item nav-link" href="?nav=voted">Most voted</a>
            </nav>
          </div>
        </div>
      <% } %>

      <% if(questionsData != null && questionsData.length > 0){ %>
        <%- include('partials/questions-list') %>
      <% }else{ %>
          <% if(home_type != null && home_type == 'search'){ %>
            <div class="row">
              <div class="col-lg-12">
                <div class="alert alert-primary" role="alert">
                  Your search didn't match any question. Try different keyword or <a href="/" class="alert-link">Go to the homepage</a>
                </div>
              </div>
            </div>
          <% } %>
      <% } %>

      <% if(questionsData != null && questionsData.length >= 20){ %>
        <div class="row load-more-container">
          <div class="col-lg-12">
            <button id="load-more-question-btn" type="button" class="btn btn-outline-primary btn-lg btn-block">
              <span id="load-question-btn-text"><%= __('Load more questions')%></span>
              <div id="load-question-btn-loader" style="display: none">
                <div class="loader-inner line-scale">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </button>
          </div>
        </div>
      <% } %>

    </main><!-- /.container -->

    <%- include('partials/footer') %>
    <%- include('partials/embedded-scripts') %>
    <script src="/controllers/questionController.client.js"></script>
  </body>
</html>
