<!doctype html>
<html>
  <head>
    <%- include('partials/head') %>
    <!-- Custom styles  -->
    <link href="/public/css/question-detail.css" rel="stylesheet">
  </head>

  <body>

    <%- include('partials/navbar.ejs') %>

    <main role="main" class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title"><%= questionData.text %></h2>
            <p class="blog-post-meta"><%= questionData.createdDate %> by <a href="/user/<%= questionData.userId %>"><%= questionData.userId %></a></p>

            <p><%= questionData.textDetail %></p>

          </div><!-- /.blog-post -->

          <h4><%= questionData.answers.length %> answers</h4>

          <% if(questionData.answers != null && questionData.answers.length > 0 ){ %>
            <% for (var i = 0; i < questionData.answers.length; i++) { %>
              <hr>
              <div class="blog-post">
                <p><%= questionData.answers[i].text %></p>
                <p class="blog-post-meta">questionData.answers[i].createdDate by <a href="#">questionData.answers[i].userId</a></p>
              </div><!-- /.blog-post -->
            <% } %>

          <% } %>


          <% if(questionData.answers != null && questionData.answers.length > 10 ){ %>
            <nav class="blog-pagination">
              <div class="row load-more-container">
                <div class="col-lg-12">
                  <button type="button" class="btn btn-outline-primary btn-lg btn-block">Load more answers</button>
                </div>
              </div>
            </nav>
          <% } %>
          <hr class="answer-divider">
          <h4>Your Answer</h4>

          <form>
            <div class="form-group">
              <textarea class="form-control" id="submit-answer-btn" rows="3"></textarea>
              <br>
              <button type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>
          </form>

        </div><!-- /.blog-main -->

        <aside class="col-sm-3 ml-sm-auto blog-sidebar">
          <div class="sidebar-module">
            <h4>Related</h4>
            <ol class="list-unstyled">
              <li><a href="#">Why is sky blue?</a></li>
              <li><a href="#">WTF is this</a></li>
              <li><a href="#">Do you know any place where I can eat some chicken</a></li>
            </ol>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

    <%- include('partials/footer') %>
    <%- include('partials/embedded-scripts') %>
  </body>
</html>
