<!doctype html>
<html>
  <head>
    <%- include('partials/head') %>
    <!-- Custom styles  -->
    <link href="/public/css/question-detail.css" rel="stylesheet">
  </head>

  <body>

    <%- include('partials/navbar.ejs') %>

    <main role="main" class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div id="question-info-container" class="blog-post" data-qid="">

            <h2 class="blog-post-title"><%= questionData.text %></h2>
            <p class="blog-post-meta">
              <%= timeagoInstance.format(questionData.createdDate, 'mn') %> by
              <a href="/user/<%= questionData.userId %>">
                <small id="question-date">
                  <% if(questionData.user != null){ %>
                    <%= questionData.user.fb.displayName %>
                  <% }else{ %>
                    anonymous
                  <% } %>
                </small>
              </a>
              (<%= questionData.views %> views)
            </p>

            <p><%= questionData.textDetail %></p>

            <div class="question-operation-container">
              <img id="question-like" src="/public/images/thumbs_up.png" >
              <img id="question-dislike" src="/public/images/thumbs_down.png">
            </div>
          </div><!-- /.blog-post -->

          <h4><%= questionData.answers.length %> answers </h4>

          <%- include('partials/answer-list') %>

          <% if(questionData.answers != null && questionData.answers.length > 10 ){ %>
            <nav class="blog-pagination">
              <div class="row load-more-container">
                <div class="col-lg-12">
                  <button type="button" class="btn btn-outline-primary btn-lg btn-block">Load more answers</button>
                </div>
              </div>
            </nav>
          <% } %>
          <hr class="answer-divider">
          <h4>Your Answer</h4>

          <div id="add-answer-warning-container" class="alert alert-warning alert-dismissible fade show" role="alert"
            style="display: none;">
            <span id="add-answer-warning">Та дахин оролдоно уу</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form id="quick-answer-form">
            <div class="form-group">
              <textarea id="answer-text-input" class="form-control" rows="3"></textarea>
              <br>
              <button type="submit button" class="btn btn-primary btn-lg btn-block">
                <span id="answer-btn-text">Answer</span>
                <span id="answer-btn-loader" style="display: none">
                  <div class="loader-inner line-scale">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </span>
              </button>

              <input id="question-id" type="hidden" value="<%= questionData._id %>"/>
            </div>
          </form>

        </div><!-- /.blog-main -->

        <aside class="col-sm-3 ml-sm-auto blog-sidebar">
          <%- include('partials/sidebar') %>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </main><!-- /.container -->

    <%- include('partials/footer') %>
    <%- include('partials/embedded-scripts') %>
    <script src="/controllers/answerController.client.js"></script>
  </body>
</html>
